/*Request the Google Lato font, and specifying sans-serif as the fallback font*/
body{
	
	font-family: 'Lato', sans-serif;
}

/*Defining a blue style for navigation bar items*/
.nav a {
  color:#006dcc;;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
  list-style-type: none;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  
}

/*Defining a blue background, white text, and a border for the website description*/
#info{
  background-color: #006dcc;
  color:#fff;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;

}

/*Specifying the style of h1 heading in the title component*/
.title h1{
  color: #5a5a5a;
  font-size: 48px;  
  font-weight: bold;
  text-align: center;
}

/*Specifying background image properties for the jumbotron*/
.jumbotron {
  background-image: url("images/swimp.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 400px;
  margin-bottom: 0px;
}

/*Positioning the jumbotron container*/
.jumbotron .container {
  position: relative;
  top:100px;
}
/*Setting a bold white text style jumbotron main headings*/
.jumbotron h1 {
  color: #ffffff;
  font-size: 48px;  
  font-weight: bold;
  text-align: center;
}
/*Setting the text style of jumbotron paragraphs, if any*/
.jumbotron p {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
/*Setting the text style on the buttons in the jumbotron*/
.jumbotron .jumbobuttons{
  text-align: center;
  font-weight: bold;
}

/*setting a light gray background and a bottom border for the photo galleries */
.photo-guides{
  background-color:#efefef;
  border-bottom: 1px solid #dbdbdb;
}

/*setting the style of heading two text with the images*/
.photo-guides h2{
  color: #5a5a5a;
  font-size: 24px;
}

/*Setting the style of paragraph text with the images*/
.photo-guides p{
  color: #5a5a5a;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 13px;
  text-align:center;
}
